@import './slideFirst';
@import './slideSecond';
@import './slideThird';


.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    // cursor: grabbing;
}

.slider-inner {
    position: absolute;
    left: 0;
    height: 100%;
    // width: 300%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat((3, 1fr));
    transition: left 1s ease;

    .slide {
        width: 100vw;
        height: 100%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &-block {
            position: relative;
            z-index: 2;
            padding-left: $mainLeftIndent;
            padding-right: $mainRightIndent;
            padding-top: $mainTopIndent;
            height: 90%;

            &__content {
                h1 {
                    text-transform: uppercase;
                    margin: 0;
                    font-family: GilroyUltraLight;
                    font-size: 6rem;
                    letter-spacing: 0.3rem;

                    span {
                        font-family: GilroyBold !important;

                    }
                }
            }

            &__title {
                max-width: 12rem;

                h4 {
                    text-transform: uppercase;
                    margin: 0;
                    font-family: GilroyUltraLight;
                    letter-spacing: 0.1rem;
                    font-size: 1.5rem;
                }


            }
        }

        &-parallax {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .parralax-element {
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                // z-index: -43;
            }
        }

        button.slide-btn {
            background: #ff6a9f;
            outline: none;
            border: none;
            padding: 1.4rem 2.2rem;
            box-shadow: $shadow;
            border-radius: 3rem;
            position: relative;

            p {
                font-family: Gilroy;
                font-size: 1.5rem;
                margin: 0;
                padding-left: 2rem;

                &::before {
                    content: "";
                    position: absolute;
                    left: 15px;
                    top: 13px;
                    width: 3rem;
                    height: 3rem;
                    margin-right: 5px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 80%;
                    border-radius: 50%;
                    box-shadow:30px 29px 52px -10px rgba(34, 60, 80, 0.19) inset;
                    // background: url(../../../../img/btn-arrow.png) no-repeat;
                    // padding: 0.5rem;

                }
            }
        }

        button.slide-btn.icon-plus {
            p {
                &::before {
                    background-image: url(../../../../img/btn-plus.png);
                }
            }
        }

        button.slide-btn.icon-arrow {
            p {
                &::before {
                    background-image: url(../../../../img/btn-arrow.png);
                }
            }
        }
    }
}

// .slider-inner {
//     z-index: 3;
//     display: flex;
//     position: relative;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 300%;
//     // display: grid;
//     // grid-template-columns: repeat((3, 1fr));
//     // gap: 5px;
//     pointer-events: none;
//     transition: 0s ease-in;
//     z-index: 2;
// }

// .slide {
//     height: 100%;
//     width: 100vw;
//     overflow: hidden;



//         &__content {
//             height: 100%;
//             overflow: hidden;
//         }

//     }


// }