$primary: #fc6da9;
$primaryLight: #fc7fb3;
$primaryDark: #eb679e;
$shadow: 0 2px 30px rgba(0, 0, 0, .2);
$mainLeftIndent: 5rem;
$mainRightIndent: 2rem;
$mainTopIndent: 10rem;
$font: Gilroy;
$fontLight: GilroyLight;
$fontUltraLight: GilroyUltraLight;
$fontBold: GilroyBold;

